.hero {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    padding: 3%;
}
.hero_body p {
    margin-top: 7%;
}

@media screen and (max-width: 800px) {
    .hero {
        flex-direction: column;
    }
    .hero_body {
        margin-bottom: 5%;
    }
}
